<br>
<div class="container">
<div class="col-lg-6">
<%= comment.user.user_name%> - 
<%= comment.context %>
</div>
<% if comment.user == current_user %>
<div class="col-lg-3 ">
-
    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
    <span class="glyphicon glyphicon-remove delete-comment-icon"></span>
<% end %>
</div>
<% end %>
</div>